<h5>This is {{ title }}</h5>
<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/list">List</a>
    </li>
    <li>
      <a routerLink="/change-number">Change Number</a>
    </li>
    <li>
      <a routerLink="/condicionais">Condicionais</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/emitter">Emitter</a>
    </li>
    <li>
      <a routerLink="/events">Events</a>
    </li>
    <li>
      <a routerLink="/first">First</a>
    </li>
    <li>
      <a routerLink="/parent">Parent</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/two-way-binding">Two Way Binding</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
